@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Black";
  src: url("./assets/fonts/gotham-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/gotham-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/gotham-book.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Light";
  src: url("./assets/fonts/gotham-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
